<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor patch:after="*[@type='Sitecore.Pipelines.HttpRequest.SiteResolver, Sitecore.Kernel']" type="GoogleProductFeed.Module.Pipelines.GoogleProductFeedHandler, GoogleProductFeed"/>
      </httpRequestBegin>
    </pipelines>

    <GoogleProductFeed>
      <GoogleFeedVariables>
        <GoogleFeedVariable name="xmlnsGoogleProductFeedValue" value="http://base.google.com/ns/1.0" />
        <GoogleFeedVariable name="xmlnsVersion" value="2.0" />
      </GoogleFeedVariables>
      <SitecorePaths>
        <Site name="googleproductfeed" urlPrefix="http" rootItemPath="/sitecore/content/home">
          <GPFConfigurationPath value="/sitecore/system/Modules/Google Product Feed/Google Product Feed Configuration"></GPFConfigurationPath>
          <GPFXMLPath value="/sitecore/system/Modules/Google Product Feed/Google Product Feed XML"></GPFXMLPath>
        </Site>
      </SitecorePaths>
    </GoogleProductFeed>
    <settings>
      <setting name="GoogleProductFeed.SchedulerEnabled" value="true" />
    </settings>
  </sitecore>
</configuration>